doctype html
html
  head
    title Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
      ul 
        li #[a(href='/') Home]
        li #[a(href='/') About]
        li #[a(href='/') Services]
        li #[a(href='/') Contact Us]
    
    section#intro 
      div#container 
        h1 Dance Academy 
        p It is very important for the customer to pay attention to the adipiscing process. She, very 
        p wise? When, they leave, the elasticity hinders any one
        p  of the accusers, it is never mistaken for pleasure, for right, for comfort from pains. We are 
        p willing to take advantage of your debts! Most of all, his very own.
        button#btn Membership
    
    section#mission 
      h2#h-primary 
      div.main
        div.card 
          h1 Expert Training 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis commodi,
          p quia distinctio modi ullam qui esse. Iure rem sunt veritatis ex hic blanditiis
          p repellat deleniti sed temporibus, quis harum? Rerum cumque ullam quod laudantium?
        
        div.cards 
          h1 Dance Perfection 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          p commodi, quia distinctio modi ullam qui esse. Iure rem sunt
          p veritatis ex hic blanditiis repellat deleniti sed temporibus, quis harum? 
          p Rerum cumque ullam quod laudantium?
    
    section#sponsor 
      img(src='./static/logo1.png' alt='login' style='width:200px; height:200px;') 
      img(src='./static/logo2.png' alt='login' style='width:200px; height:200px;') 
      img(src='./static/logo3.png' alt='login' style='width:200px; height:200px;') 
      img(src='./static/logo4.jpg' alt='login' style='width:200px; height:200px;') 
      img(src='./static/logo5.jpg' alt='login' style='width:200px; height:200px;') 

    footer#footer 
      h3 Copyright © 2019 Danceacademy.com | All rights reserved

    script
      include ../static/index.js